@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans|Raleway');

// Define defaults
$base-font-family: 'Open Sans', sans-serif !default;
$base-text-color: #333 !default;
$base-line-height: 1.5;
$base-font-size: 16px;

$header-font-family: 'Bitter', sans-serif !default;

$link-color: #337ab7 !default;
$link-hover-color: #000 !default;

$background-color: white !default;

/* BASIC STYLING
--------------------------------------------------------------------- */
body {
  color: $base-text-color;
  background-color: $background-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: $base-font-size;
}
a {
  color: $link-color;
  text-decoration: none;

  :hover {
    color: $link-hover-color;
  }
}

blockquote {
  border-left: solid 3px blue;
  margin: 0;
  padding: 0 1em;

  cite {
    color: #999;
  }
}

p > code {
  background-color: #f1f1f1;
  padding: 5px 5px;
  font-size: 14px
}


/* HEADER
--------------------------------------------------------------------- */
/* Add a black background color to the top navigation */
.NavBar {
  display: flex;
  justify-content: center;

  &__container {
    width: 900px;
    // border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;

    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}

/* Style the links inside the navigation bar */
.NavBar a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.NavBar .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the
first one ("Home"). Show the link that contains should open and close the topnav
(.icon) */
@media screen and (max-width: 600px) {
  .NavBar a:not(:first-child) {display: none;}
  .NavBar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user
clicks on the icon. This class makes the topnav look good on small screens
(display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .NavBar.responsive {position: relative;}
  .NavBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 15px;
  }
  .NavBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* DEFAULT
--------------------------------------------------------------------- */
.Main {
  display: flex;
  justify-content: center;
}

/* GENERAL PAGE
--------------------------------------------------------------------- */
.Page {
  max-width: 900px;
  width: 100%;
}

/* HOME
--------------------------------------------------------------------- */
.Home {
  padding: 15px;
  padding-top: 100px;
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
    margin-bottom: 1em;
  }
  i {
    font-size: 40px;
  }
}

@media (max-width: 632px) {
  .home {
    width: 90%;
  }
}

@media (max-width: 795px) {
  .contact-icons {
    display: block;
    padding-top: 10px;
  }
}

/* POSTS
--------------------------------------------------------------------- */
.Posts {
  padding: 15px 0;

  &__post {
    padding: 15px;
  }
  &__postDate {
    color: #999;
    font-size: 12px;
  }
  &__postTitle {
    font-family: $header-font-family;
    font-size: 28px;
    padding: 10px 0;
  }
  &__postExcerpt {

  }
  &__postTags {
    display: flex;
  }
  &__postTag {
    font-size: 10px;
    padding: 4px 15px;
    color: #5c71ca;
    background-color: #cae7ff;
    // border: 1px solid orangered;
    border-radius: 50px;
    margin-right: 10px;
  }

  img {
    max-width: 50%;
  }
}

@media (max-width: 795px) {
  .Posts {
    img {
      max-width: 100%;
    }
  }
}

.Pagination {
  padding: 15px;
}

/* CODE HIGHLIGHTS
--------------------------------------------------------------------- */
pre {
  margin: 0;
}
code {
  font-size: 14px
}
.highlight {
  overflow-x: scroll;
  background-color: #f9f9f9;
}
.lineno {
  width: 25px;
  color: #999;
}
/* FOOTER
--------------------------------------------------------------------- */