%header.NavBar{id: 'nav-bar'}
  .NavBar__container
    = link_to "Posts", '/posts', class: 'left'
    = link_to "About", '/', class: 'left'

    = link_to "&#9776;", '#', onclick: 'myFunction()', class: 'icon'
