.Home
  %h1
    Hi, I'm Davide.
  %h2
    I fool around with Ruby, Python and JS.
  %h2
    %span.contact-icons
      %a(href="https://github.com/davideghz" target="_blank" title="If you know what I'm talking about")
        %i(class="fa fa-github")
      %a(href="https://it.linkedin.com/in/davideghezzi" target="_blank" title="If you don't")
        %i(class="fa fa-linkedin")
  
  %br
  %p
    I've been lucky enough to work with these incredible people
  
  %p
    %a(href="https://www.esa.int/ESA" target="_blank")
      ESA: European Space Agency
    |
    %a(href="https://off---white.com" target="_blank")
      OffWhite
    |
    %a(href="https://www.rickowens.eu" target="_blank")
      RickOwens
    |
    %a(href="http://www.songbiz.org" target="_blank")
      Songbiz
    |
    %a(href="https://www.forrestlesssleepers.com" target="_blank")
      For Restless Sleepers
    |
    %a(href="https://aparcagratis.com" target="_blank")
      AparcaGratis
    |
    %a(href="https://www.antonioli.eu" target="_blank")
      Antonioli
    |
    %a(href="https://termostore.it" target="_blank")
      Termostore
    |
    %a(href="http://www.cartaematita.it" target="_blank")
      Carta e Matita
    |
    %a(href="https://triboo.com" target="_blank")
      Triboo
    |
    %a(href="https://www.allianz.it" target="_blank")
      Allianz

    %p
      thx for all the
      %i(class="small fa fa-heart" style="color: red")
      and
      %i(class="small fa fa-coffee").
