.Home
  %h1
    Hi, I'm Davide.
  %h2
    I fool around with Ruby, Python and JS.
  %h2
    %span.contact-icons
      %a(href="https://github.com/davideghz" target="_blank" title="If you know what I'm talking about")
        %i(class="fa fa-github")
      %a(href="https://it.linkedin.com/in/davideghezzi" target="_blank" title="If you don't")
        %i(class="fa fa-linkedin")