.Home
  %h1
    Hi, I'm Davide.
  %h2
    %span.contact-icons
      %a(href="https://github.com/davideghz" target="_blank")
        %i(class="fa fa-github")
      %a(href="https://it.linkedin.com/in/davideghezzi" target="_blank")
        %i(class="fa fa-linkedin")